#experience-card {
  padding: 1em;
  box-shadow: -4px 8px 10px 5px rgba(0, 0, 0, 0.5);
  font-family: $verdana;
  color: $background-color;

  -webkit-animation: fadeIn 0.5s forwards;
  -moz-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards;

  ul {
    display: flex;
    flex-direction: column;
    text-align: left;

    >li {
      margin-top: 2px;
    }

    li::marker {
      color: darkseagreen;
      font-size: 1.25em;
    }
  }

  .description {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
  }

  .top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .company {
    color: darkseagreen;
  }

  .title {
    border-left: 2px solid $primary-color;
    padding-left: 10px;
    text-align: left;
  }

  .subtitle {
    border-left: 2px solid $primary-color;
    padding-left: 10px;
    text-align: left;
  }

  .details {
    margin-top: 1em;
    font-size: 0.9em;
  }

  .tech-padding {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .technologies {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: flex-start;
    font-size: 0.8em;
  }

  .tech-list {
    display: flex;
    flex-direction: row;
  }

  .tech-item {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    min-width: 25px;
    background-color: $secondary-color;
    font-size: 0.8em;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}