#section {
  padding: 3.75em;
  padding-top: 8em;
  min-height: 100vh;

  .header {
    font-family: $montserrat;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 0.75em;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 0.5em;
      width: 30%;
      margin-right: 5px;
      border-top: 1px solid darkseagreen;
    }

    &:after {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 0.5em;
      width: 30%;
      margin-left: 5px;
      border-top: 1px solid darkseagreen;
    }

  }
}