@import "./variables";
@import "./margins";
@import "./navbar";
@import "./intro";
@import "./section";
@import "./experience-card";
@import "./tab-list";

body {
  margin: 0;
  background-color: $background-color;
}

.primary-color {
  color: $primary-color;
}
